.graph-holder
    margin-top: 20px
    font-size: 12px

    #logBook
        visibility: visible
        pointer-events: none
        display: block
        width: 100%
        height: auto
        max-width: 1170px
        margin: 0 auto
        user-select: none

    #basic-path
        stroke-width: 2.5px
        stroke: #548AB6
        fill: none

    #edited-path
        stroke-width: 2.5px
        stroke: #007
        fill: none

    .cur-areas__rect
        fill: #5ab529
    
    .cur-areas__brd
        stroke: #5ab529
        stroke-width: 2px

    .cur-areas__active-area
        fill: rgba(90, 181, 41, 0.35)

    .cur-areas__text
        fill: #fff
        font-size: 14px
        transform: translate(14px, -14px)

    .cur-areas__duration
        fill: #fff
        stroke: #5ab529

    .cur-areas__duration-txt
        fill: #5ab529
        font-size: 14px
        font-weight: bold
        text-transform: uppercase

    .cur-areas__group
        visibility: visible
        pointer-events: visibleFill
        fill: none

    .cur-areas__violantions
        fill: #ED5554
        visibility: visible
        cursor: pointer

    .cur-areas__violantions-text
        font-size: 10px
        fill: white

        &_b, &_v 
            transform: translateX(0.5px)

        &_dr, &_sh
            transform: translateX(-0.2%)

    .violantions-message
        background: white
        border: solid 1px #778997
        border-radius: 4px
        padding: 15px
        text-align: center
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        color: #374E5A
        box-shadow: 0px 1px 10px rgba(161, 172, 184, 0.9)

        &__txt
            color: #ED5554
    
    .cur-areas__violantions-path
        stroke-width: 2px
        stroke: #ED5554
    
    .edited-area
        visibility: visible
        pointer-events: visibleFill

    .cur-areas__rect-drag-right
        visibility: visible
        pointer-events: visibleFill
    
    .cur-areas__rect-drag-left  
        visibility: visible
        pointer-events: visibleFill