<div class="graph-holder">
  <svg xmlns="http://www.w3.org/2000/svg" class="svgLogBook" width="720" height="162" id="logBook" viewBox="-60 -20 850 155">
      <g>
          <text x="-40" :y="20 + cell*i" fill="gray" v-for="(lable, i) in statusesForRender">
              {{ lable.name.toUpperCase() }}
          </text>
      </g>

      <g>
          <text x="730" :y="20 + cell*i" fill="gray" v-for="(item, i, key) in statusesForRender">
              {{ getConvertedDuration(item.val) }}
          </text>
      </g>

      <text x="680" y="145" fill="gray">Total:</text>
      
      <text x="730" y="145" fill="gray" class="hours_total">
          {{ getConvertedTotalTime }}
      </text>

      <g >
          <text :x="cell*i - 4.5" y="-10" fill="gray" v-for="(lable, i) in timeLables">
              {{ lable }}
          </text>
      </g>        

      <path :d="getCurPath" id="basic-path"></path>

      <g class="cur-areas__group" @mouseover="showCurStatus($event)">
          <rect v-for="(item, i) in curAreasCoords" 
                  :x="item.x" 
                  y="0" 
                  :height="getGridHeight" 
                  :width="(i>=curAreasCoords.length-1) ? (getGridLength - curAreasCoords[i].x) : (curAreasCoords[i+1].x - curAreasCoords[i].x)"
                  fill="none"
                  class="cur-areas"
                  :data-idx="i"
          ></rect>
      </g>        
      
  </svg>
</div>

