<div class="">
    <div class="btn-duty-status">
        <button class="btn btn-transparent" @click="getGraphEdit">Insert Duty Status</button>
    </div>
    <Graph
        :graphData="graphData"
        :hoveredStatus="idx"
        :isGraphEdit="isGraphEdit"
        :editedStatus="editedStatus"
        :pickedTime="getStartEndStatusTime"
        :isSave="isSave"
        :key="isSave"
        @curId="getCurStatusItem"
        @setTimeInterval="updateTimeInterval"
        @curStatusList="updateStatusList"
        @isGraphRender = "resetFlag"
    ></Graph>
    <div class="log-page-container__edit-graph-wrap" v-if="isGraphEdit">
        <div class="log-page-container__edit-btn-wrap" @click="getEditedStatus($event)">
            <a href="#" class="log-page-container__edit-graph-btn" data-type="off" :class="[editedStatus == 'off' ? 'log-page-container__edit-graph-btn_active' : '']">
                OFF
            </a>
            <a href="#" class="log-page-container__edit-graph-btn" data-type="sb" :class="[editedStatus == 'sb' ? 'log-page-container__edit-graph-btn_active' : '']">
                SB
            </a>
            <a href="#" class="log-page-container__edit-graph-btn" data-type="dr" :class="[editedStatus == 'dr' ? 'log-page-container__edit-graph-btn_active' : '']">
                DR
            </a>
            <a href="#" class="log-page-container__edit-graph-btn" data-type="on" :class="[editedStatus == 'on' ? 'log-page-container__edit-graph-btn_active' : '']">
                ON
            </a>
        </div>
        <div class="log-page-container__input-time-box">
            <div class="log-page-container__input-time log-page-container__input-time-from">
                <span class="log-page-container__input-time-title">From:</span>
                <span class="log-page-container__input-time-holder">
                    <span class="log-page-container__input-btn-holder">
                        <span class="log-page-container__input-btn log-page-container__input-btn-up" 
                              @click="changeTime('from', log_increment*60)">
                        </span>
                        <span class="log-page-container__input-btn log-page-container__input-btn-down" 
                              @click="changeTime('from', -log_increment*60)">
                        </span>
                    </span>
                    <masked-input
                        type="text"
                        mask="11:11"
                        v-model="pickedTimeFrom"
                        class="log-page-container__input-time"
                        name="input-time_from"
                    />                                                
                </span>
                </label>
            </div>
            <div class="log-page-container__input-time log-page-container__input-time-to">
                <span class="log-page-container__input-time-title">To:</span>
                <span class="log-page-container__input-time-holder">
                    <span class="log-page-container__input-btn-holder">
                        <span class="log-page-container__input-btn log-page-container__input-btn-up" 
                              @click="changeTime('to', log_increment*60)">
                        </span>
                        <span class="log-page-container__input-btn log-page-container__input-btn-down" 
                              @click="changeTime('to', -log_increment*60)">
                        </span>
                    </span>
                    <masked-input
                        type="text"
                        mask="11:11"
                        v-model="pickedTimeTo"
                        name="input-time_to"
                    />
                </span>
            </div>
        </div>
        <div class="btn-duty-save" v-if="isGraphEdit">
            <button class="btn btn-transparent" @click="saveDutyStatus">Save Duty Status</button>
            &nbsp;
            <button class="btn btn-transparent" @click="resetGraph">Cansel</button>
        </div>
    </div>
    <div class="table-wrapper">
        <div class="status-chenged-logs-container">
        <div class="logs-header">
            <div class="log-item">№</div>
            <div class="log-item">STATUS</div>
            <div class="log-item">START</div>
            <div class="log-item">DURATION</div>
        </div>
        <div class="logs-body">
            <div class="logs-row" :data-idx="i"  v-for="(item, i) in statusListForRender" @mouseover="getCurStatusData($event)" @mouseleave="clearCurStatusData">
                <div class="log-item">{{ i+1 }}</div>
                <div class="log-item">
                    <span :class="`status-${item.status}`">
                        {{ item.status}}
                    </span>
                </div>
                <div class="log-item">
                    {{ getTimeFormatA(item.created_at) }}
                </div>
                <div class="log-item">
                    {{ getConvertedDuration(item.duration) }}
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
