$primary: #3498db
$primary-dark: #2d8ac7
$white: #fff
$text: #34495e
$light: #f3f8fe
$gray: #a2a2a2
$yellow: #fbb040
$orange: #ff8500
$green: #5ab529
$brown: #5d5757
$background: #edf1f5
$alert: #a94442
$border: #d1d9dd
$gray-light: #f9f9f9

.logs-body
    display: table-row-group
    .logs-row
        display: table-row
        cursor: pointer
        transition: background-color .3s ease
        &:nth-child(even)
            background-color: #fafcff
        &:hover
            background-color: #ecfaff
        &.active
            background-color: #ecfaff
[class*="status-"]
    text-transform: uppercase
    display: inline-flex
    width: 50px
    height: 26px
    align-items: center
    justify-content: center
    border: 2px solid 
    border-radius: 5px
.status-on
    border-color: $primary
.status-off
    border-color: $brown
.status-sb
    border-color: $orange
.status-dr
    border-color: $green


.status-chenged-logs-container
    display: table
    width: 100%
    border-collapse: collapse
    border: 1px solid $border
    .logs-header
        display: table-header-group
        border-bottom: 1px solid $border
        .log-item
            font-weight: bold
            text-transform: uppercase
    .log-item
        display: table-cell
        text-align: center
        vertical-align: middle
        padding: 5px
        text-transform: lowercase
        &.location
            min-width: 400px
    .logs-body
        display: table-row-group
        .logs-row
            display: table-row
            cursor: pointer
            transition: background-color .3s ease
            &:nth-child(even)
                background-color: #fafcff
            &:hover
                background-color: #ecfaff
            &.active
                background-color: #ecfaff
    [class*="status-"]
        text-transform: uppercase
        display: inline-flex
        width: 50px
        height: 26px
        align-items: center
        justify-content: center
        border: 2px solid 
        border-radius: 5px
    .status-on
        border-color: $primary
    .status-off
        border-color: $brown
    .status-sb
        border-color: $orange
    .status-dr
        border-color: $green

.table-wrapper
    width: 70vw
    margin: 75px auto 0 auto

.btn
    display: inline-flex
    font-size: 18px
    font-weight: bold
    align-items: center
    padding: 7px 44px 6px
    white-space: nowrap
    border: 1px solid $primary
    border-radius: 2px
    transition: color .3s ease, background-color .3s ease, border-color .3s ease
    margin-right: 8px
    @media screen and ( max-width: 1200px )
        font-size: 16px   
    &-transparent
        color: $primary
        &:hover
            color: $white
            background-color: $primary-dark
            border-color: $primary-dark    

.button-container
    &__button-position-right
        text-align: right

.log-page-container
    p
        font-size: 14px
.log-page-container__edit-graph-wrap
    padding: 10px

.log-page-container__edit-btn-wrap
    display: flex
    justify-content: space-around
    padding-bottom: 40px
    width: 480px
    margin: auto

.log-page-container__edit-graph-btn
    padding: 10px 20px
    width: 100px
    background: $gray
    text-align: center
    border-radius: 4px
    box-sizing: border-box
    text-decoration: none
    color: $white
    
    &_active, &:hover
        &[data-type="off"]
            background: $brown
        &[data-type="on"]
            background: $primary
        &[data-type="sb"]
            background: $orange
        &[data-type="dr"]
            background: $green


.log-page-container__input-time-box
    margin: 0 auto 40px auto
    display: inline-flex

.log-page-container__input-time-title
    font-size: 13px
    padding-right: 6px

.log-page-container__input-time
    padding: 0 10px
    input
        height: 32px
        width: 80px
        padding: 0
        padding-left: 14px
    

.log-page-container__input-time-holder
    display: inline-block
    position: relative
    border-radius: 3px
    height: 34px

.log-page-container__input-btn-holder
    background: $border
    width: 34px
    height: 34px
    position: absolute
    right: 1px
    top: 1px
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center

    span

.log-page-container__input-btn
    cursor: pointer
    height: 17px
    line-height: 17px
    position: relative
    opacity: 0.5
    &:hover
        opacity: 1

    &:after, &::before
        position: absolute
        content: ''
        display: block
        border-left: 7px solid transparent
        border-right: 7px solid transparent
        left: 50%
        transform: translateX(-50%)



.log-page-container__input-btn-up
    &:after, &::before
        top: 8px
        border-bottom: 6px solid $border
    &::before
        border-bottom-color: $primary
        top: 6px

.log-page-container__input-btn-down
    &:after, &::before
        bottom: 8px
        border-top: 6px solid $border
    &::before
        border-top-color: $primary
        bottom: 6px